<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>musica</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <title>Document</title>

</head>

<body>


  <div class="song-list">
    <h3>choose a song</h3>

    <div class="songs">
      {% for song in songs %}
        <p><a href="{% url 'song_detail' pk=song.pk %}">{{ song.title }}</a></p> 
      {% endfor %}
    </div>
  </div>


</body>
</html>